<!DOCTYPE html>
<html>
<head>
    {{template "head.gohtml" .}}
  <script src="/static/js/clipboard/copy-pre.js"></script>
    {{block "head" .}}
    {{end}}
</head>

{{template "navbar.gohtml" . -}}

<body class="container">
<div class="mt-6"></div>
{{block "body" . -}}

{{end -}}
</body>

{{template "footer.gohtml" . -}}
</html>
