.navbar
  width: 100%
  margin: auto
  padding: 0rem 5rem
  display: flex
  justify-content: flex-start
  align-items: center
  transition: top 0.5s

  & ul
    // display: flex
    align-items: center

    & li
      list-style: none
      display: inline-block
      margin: 0 2rem

      & a
        text-decoration: none
        color: #5f5f5f

  & span
    color: #5f5f5f

  & .item
    color: #5f5f5f
    vertical-align: middle
    display: inline-flex
    word-break: keep-all
    align-items: center
    font-size: 1.4rem

    & img
      max-width: 2.5rem

.logo
  cursor: pointer

.toc
  overflow: auto
  height: 600px
  position: fixed
  right: 3vw
  top: 20vh
  background: white

  // 讓其圖層盡量高於其他元素，使其維持在頂層
  z-index: 1


// 當pre hover時，代表我們專注於pre區塊，所以讓toc暫時看不見，避免影響觀看
pre:hover ~ .toc
  display: none
