<!DOCTYPE html>
{{- template "head.gohtml" (dict "Title" "Ball SVG") -}}

<style>
  svg {
    width: 500px;
    height: 500px;
  }
</style>

{{- template "focusOne.gohtml" . }}
{{define "body" }}
  <header>
    <h1>立體球</h1>
  </header>

  <input type="color" id="color-picker" value="#00ff00" title="Choose your color">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
    <defs>
      <radialGradient id="r1" cx=".3" cy=".3" r=".7">
        <stop id="stop-1" offset="0%" stop-color="white"></stop>
        <stop id="stop-2" offset="30%" stop-color="#9f9"></stop>
        <stop id="stop-3" offset="70%" stop-color="#373"></stop>
        <stop id="stop-4" offset="100%" stop-color="black"></stop>
      </radialGradient>
    </defs>
    <circle cx="50" cy="50" r="25" fill="url(#r1)"/>
  </svg>
{{end -}}

<script>
  const dqs = (name) => document.querySelector(name)
  dqs(`#color-picker`).onchange = (e) => {
    dqs(`#stop-1`).setAttribute("stop-color", e.target.value)
  }
</script>
