<!DOCTYPE html>

{{- template "head.gohtml" . }}
{{ template "navbar.gohtml" . }}

<style>
  .row {
    flex-direction: column;
    align-content: center;
  }

  iframe {
    width: 75%;
    height: 30vh;
  }
</style>

<body class="container">
<div class="row">
  <iframe src="control/ball.html"></iframe>
</div>
</body>
