{{- template "head.gohtml" (dict "Title" "Carson-Home") }}
{{ template "navbar.gohtml" . }}
<script type="module">
  import {debug} from './static/js/go/debug/init.js';

  console.log(debug.echo("Hello world"))
  debug.log2body("Hello world!!!")
</script>
